body {
  background: var(--color-bg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top:0px;
  right:0px;
  left:0px;
}

.input-field {
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  width: 500px;
}

.search-results {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.search-results > div {
  width: 100%;
  padding: 10px;
}

@media (max-width: 768px) {
  .search-results > div {
    width: 50%;
  }
}

.gradient__bg {
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: bold;
}

.initial-info-title {
  text-align: center;
  color: goldenrod;
  font-size: 50px;
  font-weight: bold;
  width: 500px;
}

.stream-stats {
  color: rgb(219, 213, 213);
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-row img {
  width: 60px;
  height: auto;
  margin-right: 10px; 
  border-radius: 12px;
}