body {
  background:-moz-radial-gradient(circle at 50% 45%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  background:-webkit-radial-gradient(circle at 50% 45%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  background:-o-radial-gradient(circle at 50% 45%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  background:-ms-radial-gradient(circle at 50% 45%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  background:radial-gradient(circle at 50% 45%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 0px;
  left: 0px;
}

.logo {
  width: 150px;
  position: absolute;
  top: 10px;
  left: 40px;
  cursor: pointer;
}


.input-field {
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  width: 500px;
}

.search-results {
  margin-top: 250px;
  flex-direction: column;
  align-items: start;
}

.search-results > div {
  width: 100%;
}

@media (max-width: 768px) {
  .search-results > div {
    width: 50%;
  }
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: bold;
  margin-top: 20px;
}

.gradient__text-small {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 25px;
}

.initial-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 170px;
}

.initial-info-title {
  text-align: center;
  color: goldenrod;
  font-size: 50px;
  font-weight: bold;
  width: 500px;
}

.stream-stats {
  color: rgb(219, 213, 213);
  font-size: 40px;
  margin-top: 0px;
}

.image-column-one {
  position: fixed;
  right: 50px;
  top: 20px;
  display: flex;
  width: 140px;
  flex-wrap: wrap;
  align-items: center;
}

.image-column-one img {
  width: 50px;
  height: 50px;
  margin-bottom: 2px;
  margin-right: 10px;
  border-radius: 12px;
  border: 1.4px solid rgb(0, 0, 0);
}

.image-slider {
  position: relative;
  bottom: 20px;
  left: 30%;
  width: 300px;
  height: 200px; 
  overflow: hidden;
}

.upcoming-image {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.upcoming-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}