.search-result {
  display: flex;
  align-items: flex-start;
  margin-left: -320px;
}

.result-image {
  width: 250px;
  border-radius: 20px;
}

.result-name {
  width: 600px;
  flex-grow: 1;
  color: white;
  font-size: 30px;
  margin-left: 20px;
}

.result-overview {
  margin-top: -50px;
  font-size: 16px;
  font-family: Open Sans;
  color: rgb(255, 255, 255);
}

.imdb-text {
  margin-left: 5px;
  font-size: 26px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.imdb-box {
  margin-top: 20px;
  display: inline-block;
  padding: 2px 6px;
  background: linear-gradient(to right, goldenrod 0%, rgb(247, 247, 91) 50%, goldenrod 100%);
  color: black;
  font-weight: bold;
  font-family: Impact;
  font-size: 23px;
  border-radius: 5px;
}

.error-message {
  color: red;
  background-color: lightpink;
  border: 1px solid red;
  padding: 5px;
  width: 330px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(2, 2, 2);
  font-weight: bold;
  font-size: 30px;
  width: 400px;
  height: 240px;
  margin-left: 20px;
  background-color: rgb(148, 152, 70);
}