.upcoming-slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 820px;
  max-height: 600px;
}

.upcoming-slider {
  white-space: nowrap;
  transition: ease 1200ms;
}

.upcoming-slide {
  display: inline-flex;
}

.upcoming-image {
  width: 450px;
  height: 550px;
  border-radius: 20px;
}

.upcoming-title {
  margin-top: 10px;
  margin-left: 20px;
  width: 350px;
  height: 550px;
  font-size: 40px;
  color: white;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.release-date {
  margin-top: 20px;
  font-family: Open Sans;
  font-size: 30px;
  color: white;
}

.slideshow-dots {
  text-align: center;
}
.slideshow-dot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c8c3c3;
}

.slideshow-dot.active {
  overflow: visible;
  background-color: #0fd21c;
}